@import "react-datetime-picker/dist/DateTimePicker.css";

@font-face {
  font-family: 'monsterrat';
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format('truetype');
}

html,
body {
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MintingBot {
  margin: auto;
  margin-top: 15%;
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  margin-top: 1%;
  font-family: 'monsterrat';
  background-color: #221f2b;
  border: 1px solid gray;
}

.container {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.141);
}

.itemContainer {
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1%;
  padding-left: 5px;
  display: flex;
  background-color: #2A2731;
  overflow: hidden;
}

input[type=text],
input[type=password] {
  width: 97%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
  margin: 2px;
  background-color: #2A2731;
  color: white;
  font-family: "monsterrat";
}

button {
  margin: 4px;
  border: 1px solid black;
  background-color: #133774;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "monsterrat";
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  background-color: rgb(56, 84, 186);
  cursor: pointer;
}

button:active {
  background-color: #282c34;
}

select {
  background-color: #2A2731;
  color: white;
  font-family: "monsterrat";
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;

}

option:hover {
  background-color: red;
}


.dateTime {
  background-color: #2A2731;
  border: 1px solid black;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(44, 44, 44);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-datetime-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
  color: white;
}

.react-datetime-picker__calendar,
.react-datetime-picker__clock {
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: #2A2731;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-datetime-picker,
.react-datetime-picker *,
.react-datetime-picker *:before,
.react-datetime-picker *:after {
  box-sizing: border-box;
}

.react-datetime-picker,
.react-datetime-picker *,
.react-datetime-picker *:before,
.react-datetime-picker *:after {
  box-sizing: border-box;
}

user agent stylesheet option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.react-datetime-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  border-top-color: initial;
  border-top-style: initial;
  border-top-width: 0px;
  border-right-color: initial;
  border-right-style: initial;
  border-right-width: 0px;
  border-bottom-color: initial;
  border-bottom-style: initial;
  border-bottom-width: 0px;
  border-left-color: initial;
  border-left-style: initial;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background: none;
  background-image: none;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  font: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
  color: white;
}

.react-datetime-picker__inputGroup__amPm {
  background-color: #2A2731;
  font: inherit;
  font-style: inherit;
  font-variant-ligatures: inherit;
  font-variant-caps: inherit;
  font-variant-numeric: inherit;
  font-variant-east-asian: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  -moz-appearance: menulist;

}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid #2A2731;
  border-radius: 20px;

}

.dateTime {
  border-radius: 20px;
  padding: 5px;
  margin: auto;
}